* {
	box-sizing: border-box;
}

html {
  font-family: Calibri;
  height: 100vh;
  padding:0;
  margin: 0;
  
}

body {
  margin:0;
  height: 100%;
  width: 100%;
  overflow:hidden;
}

#main {
	background-color: #00984A;
	height: 100%;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
}

#main > div {
	width: 100%;
}

#logo {
	width: 70%;
	min-width: 200px;
	max-width: 500px;
}

#map-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	
	transition: all 0.6s;
}

#map {
	background-image: url('../images/car-location.png');
	background-repeat: no-repeat;
	background-size: 100%;
	
	width: 600px;
	max-width: 100%;
	margin-bottom: 0.8em;
	flex-order: 1;
	
	cursor: pointer;
	
	transition: height 0.6s;
}

.map-div-shown {
	height: 250px;
}

.map-div-hidden {
	height: 0;
}

.button {
	width: 70%;
	min-width: 200px;
	height: 50px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color:#D3DB25;
	
	font-weight: bold;
	font-size: 1.2em;
	
	cursor: pointer;
	
	transition: height 0.6s;
}

#contract-controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
	overflow: hidden;
	
	transition: all 0.6s;
}

.no-contract {
	height: 0;
}

.flex-hidden {
	flex-grow: 0.00001;
	margin-bottom: 0;
	overflow: hidden;
}

.flex-hidden > * {
	height: 0;
	margin: 0 !important;
}

.flex-shown {
	flex: 1 0 auto;
	margin-bottom: 1.2em;
}
